<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<h1 th:text="#{title.delete}"></h1>
<th:block th:object="${blog}">
    <fieldset>
        <legend th:text="#{form.legend} +'Blog by' + *{author}">
        </legend>
        <table>
            <tr>
                <td th:text="#{form.title}"></td>
                <td th:text="*{title}"></td>
            </tr>
            <tr>
                <td th:text="#{form.content}"></td>
                <td th:text="*{content}"></td>
            </tr>
            <tr>
                <td th:text="#{form.datePublish}"></td>
                <td th:text="*{datePublish}"></td>
            </tr>
            <tr>
                <td th:text="#{form.description}"></td>
                <td th:text="*{description}"></td>
            </tr>
        </table>
    </fieldset>
</th:block>
<form th:object="${blog.id}" method="post" th:action="@{/delete}">
    <input type="text" th:field="${blog.id}" style="display: none;">
    <input type="submit" th:value="#{form.submit}">
</form>

</body>
</html>