<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<h1 th:text="#{title.edit}"></h1>
<form th:object="${blog}" th:action="@{/edit}" method="post">
    <fieldset>
        <legend th:value="#{form.legend}"></legend>
        <table>
            <tr style="display: none;">
                <td><input type="hidden" th:field="*{id}"></td>
            <tr>
                <td th:text="#{form.author}"></td>
                <td><input th:field="*{author}"/></td>
            </tr>
            <tr>
                <td th:text="#{form.title}"></td>
                <td><input th:field="*{title}"></td>
            </tr>
            <tr>
                <td th:text="#{form.datePublish}"></td>
                <td><input th:field="*{datePublish}"></td>
                <td th:if="${#fields.hasErrors('datePublish')}" th:errors="*{datePublish}" style="color:red"></td>
            </tr>
            <tr>
                <td th:text="#{form.description}"></td>
                <td><input th:field="*{description}"></td>
            </tr>
            <tr style="display: none;">
                <td><input type="hidden" th:field="*{content}"></td>
            </tr>
            <tr>
                <td th:text="#{form.categories}"></td>
                <td>
                    <select th:field="*{category}">
                        <option th:each="c : ${categories}" th:value="${c.id}" th:text="${c.name}"></option>
                    </select>
                </td>
            </tr>
        </table>
        <input type="submit" th:value="#{form.submit}" >
    </fieldset>

</form>

<p><a th:href="@{/list}" th:text="#{backToHomePage}"></a></p>
</body>
</html>