<!DOCTYPE html>
<html lang="en" xmlns:th = "http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Blog</title>
</head>
<body>
<p th:if="${message} != null" th:text="${message}"></p>
<h1 th:text="'Category: ' + ${blog.category.name}"></h1>
<th:block th:object="${blog}">
    <fieldset>
        <legend th:text="#{form.legend} +'Blog by ' + *{author}">
            Blog
        </legend>
        <table>
            <tr>
                <td th:text="#{form.title}"></td>
                <td th:text="*{title}"></td>
            </tr>
            <tr>
                <td th:text="#{form.content}">Content:</td>
                <td th:text="*{content}"></td>
            </tr>
            <tr>
                <td th:text="#{form.datePublish}"></td>
                <td th:text="*{datePublish}"></td>
            </tr>
            <tr>
                <td th:text="#{form.description}"></td>
                <td th:text="*{description}"></td>
            </tr>
        </table>
    </fieldset>
</th:block>
<p><a th:href="@{/list}" th:text="#{backToHomePage}"></a></p>
</body>
</html>